<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/css/deps/bootstrap/css/bootstrap.css" />
  <link rel="stylesheet" href="/css/app.css" />
</head>
<body ng-app="HowItWorks">
<div class="container-fluid">
  <div class="col-xs-12" ng-controller="MainController as $ctrl">
    <json-tree json="airlines"></json-tree>
  </div>
</div>


<script src="/js/deps/jquery-3.2.1.js" charset="utf-8"></script>
<script src="/js/deps/angular.js" charset="utf-8"></script>
<script src="/js/deps/bootstrap.js" charset="utf-8"></script>
<script src="/js/services/main.js" charset="utf-8"></script>
<script src="/js/services/dataProviders.js" charset="utf-8"></script>
<script src="./index.js" charset="utf-8"></script>
</body>
</html>
