<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Optimizing AngularJS 1.x Applications</title>
  <link rel="stylesheet" href="/css/deps/bootstrap/css/bootstrap.css" />
  <link rel="stylesheet" href="/css/app.css" />

  <style>
    .ng-scope {
      background-color: white;
      border: 1px solid black;
      margin: 5px;
      display: block;
      float: left;
    }

    .ng-isolate-scope {
      border: 1px solid black;
      margin: 5px;
      background-color: red;
      display: block;
      float: left;
    }
  </style>
</head>
<body ng-app="ScopeTypes">

<div class="container-fluid">

  <div ng-controller="MainController as $ctrl" class="col-xs-12">

    <h1>Scope Types</h1>

    <div class="row" ng-click="changeName(name + $id)">
      <div ng-repeat="number in numbers" ng-click="$ctrl.changeName($event, $ctrl.name + number)" class="col-xs-4" >{{ number }} {{ $ctrl.name }} {{ name }}</div>
    </div>


    <!-- Isolate Scope -->
    <div class="row">
      <isolate-scope test="$ctrl.name"></isolate-scope>
    </div>

    <div class="row">
      <isolate-scope test="name"></isolate-scope>
    </div>

    <!-- Child Scope -->
    <div class="row">
      <child-scope test="$ctrl.name"></child-scope>
    </div>

    <div class="row">
      <child-scope test="name"></child-scope>
    </div>

    <!-- Same Scope -->
    <div class="row">
      <same-scope test="$ctrl.name"></same-scope>
    </div>

    <div class="row">
      <same-scope test="name"></same-scope>
    </div>
  </div>
</div>


<script src="/js/deps/jquery-3.2.1.js" charset="utf-8"></script>
<script src="/js/deps/angular.js" charset="utf-8"></script>
<script src="/js/deps/bootstrap.js" charset="utf-8"></script>
<script src="./index.js" charset="utf-8"></script>
</body>
</html>
