<div class="row">
  <div class="col-xs-12">
    Attribute: <span ng-bind="attribute"></span>
  </div>
  <div class="col-xs-12">
    Scope Value: <span ng-bind="value"></span>
  </div>

  <div class="col-xs-12">
    Parent Value: <span ng-bind="parentValue"></span>
  </div>
</div>