<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>How Angular Works</title>
  <link rel="stylesheet" href="/css/deps/bootstrap/css/bootstrap.css" />
  <link rel="stylesheet" href="/css/app.css" />
  <style media="screen">
    .static-top {
      position: fixed;
      top: 0;
      right: 0;
    }
  </style>
</head>
<body ng-app="HowItWorks">
<div class="container-fluid">
  <div class="col-xs-12">
    <!-- Compile -->
    <div ng-controller="CompileController as $ctrl">
      <h2>Compile</h2>
      <div class="col-xs-12">
        <textarea name="compile" rows="8" cols="80" class="form-control" ng-model="content">Type Code Here</textarea>
        <label>
          Isolate Scope?
          <input type="checkbox" name="isolate" ng-model="isolate">
        </label>
        <button type="button" class="btn btn-default pull-right" ng-click="$ctrl.compile(content, isolate)">Compile</button>
        <button type="button" class="btn btn-warning pull-right" ng-click="$ctrl.clear()">Clear</button>
      </div>
    </div>

    <hr>

    <div ng-controller="InterpolateController as $ctrl">
      <h2>Interpolate</h2>
      <pre>{{ model | json }}</pre>
      <label for="interpolateText">Interpolate Text:</label>
      <textarea id="interpolateText" class="form-control" name="interpolate" rows="8" cols="80" ng-model="interpolateText"></textarea>
      <button type="button" class="btn btn-default pull-right" ng-click="$ctrl.interpolate(interpolateText)">Interpolate</button>

      <pre>{{ output | json }}</pre>
    </div>

    <hr>

    <!-- Parse -->
    <div ng-controller="ParseController as $ctrl">
      <h2>Parse</h2>
      <pre>{{ parseObj | json }}</pre>
      <label for="parseText">Parse Text:</label>
      <input type="text" id="parseText" ng-model="parseText" ng-model-options="modelOptions" />
      <pre>{{ output | json }}</pre>
    </div>

    <hr>

    <div class="static-top">
      <h2>$scope.$digest</h2>
      <digest-cycle-count></digest-cycle-count>
    </div>

  </div>
</div>


<script src="/js/deps/jquery-3.2.1.js" charset="utf-8"></script>
<script src="/js/deps/angular.js" charset="utf-8"></script>
<script src="/js/deps/bootstrap.js" charset="utf-8"></script>
<script src="/js/services/main.js" charset="utf-8"></script>
<script src="/js/services/dataProviders.js" charset="utf-8"></script>
<script src="./index.js" charset="utf-8"></script>
</body>
</html>
