<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>AngularPresentation - {{ title }}</title>
  <link rel="stylesheet" href="/css/deps/bootstrap/css/bootstrap.css" />
  <link rel="stylesheet" href="/css/app.css" />

  <script type="text/javascript">
    window.DEBUG = true;
  </script>

  <style>
    .ng-scope {
      background-color: white;
      border: 1px solid black;
      margin: 5px;
      display: block;
      float: left;
    }

    .ng-isolate-scope {
      border: 1px solid black;
      margin: 5px;
      background-color: red;
      display: block;
      float: left;
    }
  </style>
</head>
<body>

<div class="container-fluid">
  <div ng-controller="MainController as $ctrl" class="col-xs-12">
    <h1>{{ title }}</h1>
    <div id="message" ng-if="false">
      <p>Angular is loaded, but no directives are registered, and nothing is compiled</p>
    </div>

    <div ng-repeat="item in [1,2,3,4]">
      <div class="text-center">{{ item }}</div>
      <my-directive name="root">
        <span>root: {{ item }}</span>
        <my-directive name="child">child: {{ item }}</my-directive>
      </my-directive>
    </div>
  </div>
</div>

<script src="/js/deps/jquery-3.2.1.js" charset="utf-8"></script>
<script src="/js/deps/angular.js" charset="utf-8"></script>
<script src="/js/deps/bootstrap.js" charset="utf-8"></script>
<script src="/js/services/main.js" charset="utf-8"></script>
<script src="/js/services/dataProviders.js" charset="utf-8"></script>
<script src="./index.js" charset="utf-8"></script>
<script type="text/javascript">
// Because angular waits on document.ready
  $(function() {
    angular.bootstrap(angular.element('body'), ['BootstrappingExample']);

    angular.reloadDeferBootstrap = function() {
      window.name = 'NG_DEFER_BOOTSTRAP!'
      window.location.reload();
    };

    var button = angular.element('<button class="btn btn-lg btn-default">Resume Bootstrap</bootstrap>');
    angular.element('#message').append(button);

    button.on('click', function() {
      angular.resumeBootstrap();
    });
  });
</script>
</body>
</html>
