<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>NG-if vs NG-show</title>
  <link rel="stylesheet" href="/css/deps/bootstrap/css/bootstrap.css" />
  <link rel="stylesheet" href="/css/app.css" />
  <style media="screen">
    .democrat {
      background-color: blue !important;
      color: white !important;
    }
    .republican {
      background-color: red !important;
      color: white !important;
    }
  </style>
</head>
<body ng-app="NgIfvsNgShow">
<div class="container-fluid">
  <div class="col-xs-12">
    <div class="row">
      <h1>Ng-if vs Ng-show</h1>
      <label>
        Show Democrats
        <input type="checkbox" name="democrats" ng-model="showDemocrats">
      </label>
      <label>
        Show Republicans
        <input type="checkbox" name="republicans" ng-model="showRepublicans">
      </label>
    </div>

    <div class="row">
      <label>
        Use NG-IF?
        <input type="checkbox" name="ngif" ng-model="ngIf">
      </label>
      <label>
        Use Track By?
        <input type="checkbox" name="trackBy" ng-model="trackBy">
      </label>
    </div>

    <!-- if using ng-if -->
    <div ng-if="ngIf">
      <!-- if using track by statement -->
      <div ng-if="trackBy">
        <senator ng-repeat="senator in senators track by senator.person.bioguideid" class="col-xs-6" senator="senator" ng-if="shouldShow(senator)"></senator>
      </div>
      <div ng-if="!trackBy">
        <senator ng-repeat="senator in senators" class="col-xs-6" senator="senator" ng-if="shouldShow(senator)"></senator>
      </div>
    </div>

    <div ng-if="!ngIf">
      <div ng-if="trackBy">
        <senator ng-repeat="senator in senators track by senator.person.bioguideid" class="col-xs-6" senator="senator" ng-if="shouldShow(senator)"></senator>
      </div>
      <div ng-if="!trackBy">
        <senator ng-if="!tracking" ng-repeat="senator in senators" class="col-xs-6" senator="senator" ng-show="shouldShow(senator)"></senator>
      </div>
    </div>


  </div>
</div>


<script src="/js/deps/jquery-3.2.1.js" charset="utf-8"></script>
<script src="/js/deps/angular.js" charset="utf-8"></script>
<script src="/js/deps/bootstrap.js" charset="utf-8"></script>
<script src="/js/services/main.js" charset="utf-8"></script>
<script src="/js/services/dataProviders.js" charset="utf-8"></script>
<script src="./index.js" charset="utf-8"></script>
</body>
</html>
