  <div class="panel panel-default">
    <div ng-class="['panel-heading', {'democrat': senator.party === 'Democrat', 'republican': senator.party === 'Republican'}]" >
      {{ senator.person.firstname }} {{ senator.person.lastname }}
      <button type="button" class="btn btn-default pull-right" ng-click="changeParty(senator)">Change Party</button>
    </div>

    <div class="panel-body">
      <dl>
        <dt>Address</dt>
        <dd>{{ senator.extra.address }}</dd>
      </dl>
    </div>

    <div class="panel-footer" ng-if="">
      {{ senator.description }}
    </div>
  </div>
